<div class="row">
  <div class="col-md-6 col-md-offset-3 about-content">
    <h3>About Us</h3>
    <p>
      Our vision is to create a world where every individual is able to realise his/her potential and excel in their chosen
      career.
    </p>
    <p>
      We are committed to provide you the best quality of lectures, and good classroom atmosphere, best study materials,
      regular mock-test, and best guidance.
    </p>
    <p>
      Our mission is to provide you inspiration training , so that you can achieve your desired goal.
    </p>
    <p>
      Our institute is offering the quality preparation for all types of competitive exams. Whether it is government <b>(IBPS,
      SSC, RRB, DMRS, Insurance ..etc)</b> or any competitive entrance exams like <b>MBA-CET, MCA Entrance, CET-(law)</b> ..etc.
    </p>
    <p>
      Our Team of trainers have been helping students achieve their goal of clearing the crucial entrance tests and be in
      Government Services. The team is rich in expertises in the fields of teaching for competitive exams with their unique,
      easy tricks and techniques which is very important to solve the question within seconds.
    </p>
    <p>

      We will guide you through the entire process and coach you at each and every state of this journey.
    </p>
    <p>
       <i>With love Level-Up Literacy!!</i>
    </p>
    <h3></h3>
</div>