<div class="row">
  <!-- address -->
  <div class="col-md-6">
    <div class="contanct-container">
      <div>
        <h3> <i class="fa fa-home" aria-hidden="true"></i> &nbsp;Address</h3>
        <div class="contact-info"> Level-Up Literacy,</div>
        <div class="contact-info"> Opposite Excise Office,</div>
        <div class="contact-info"> Before Narayan Kohli Chowk,</div>
        <div class="contact-info"> Thane East, Maharashtra 400603</div>
      </div>
      <div>
        <h3> <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email</h3>
        <div class="contact-info"> LevelUpLiteracy@gmail.com</div>
      </div>
      <div>
        <h3> <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Mobile Number</h3>
        <div class="contact-info"> +91-8097318410</div>
      </div>
    </div>
  </div>
</div>