@import '../../scss/color';
@import '../../scss/typography';
.contanct-container{
  box-shadow: $box-shadow;
  padding: 12px 30px;
  border-radius: 5px;
  background: $grad-color;
  color: white;

  h3{
    font-size: 22px;
  }
  .contact-info{
    font-size: 14px;
    font-weight: 300;
  }
}