<div class="row">
  <ng-container *ngIf="isLoading">
    <lil-address-loader></lil-address-loader>
  </ng-container>
  <!-- address -->
  <div class="col-md-6 col-md-offset-3" *ngIf="!isLoading">
    <div class="contanct-container">
      <div>
        <h3> <i class="fa fa-home" aria-hidden="true"></i> &nbsp;Address</h3>
        <div class="contact-info"> {{contact.address.line1}}</div>
        <div class="contact-info"> {{contact.address.line2}}</div>
        <div class="contact-info"> {{contact.address.line3}}</div>
        <div class="contact-info"> {{contact.address.line4}}</div>
      </div>
      <div>
        <h3> <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email</h3>
        <ng-container *ngFor="let email of contact.emails">
          <div class="contact-info">{{email}}</div>
        </ng-container>
        
      </div>
      <div>
        <h3> <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Mobile Number</h3>
        <ng-container *ngFor="let phone of contact.phones">
          <div class="contact-info">{{phone}}</div>
        </ng-container>
        
        
      </div>
    </div> 
  </div>
</div>