@import '../../scss/color';
@import '../../scss/typography';
.tag-line{
    // font-size:$font-size-32;
    // position: absolute;
    // display: inline-block;
    // text-align: center;
    // width: 100%;
    // top: 28px;
    // color: black;
}
.navbar{
  background-color: $primary-color;
  border-radius: 0px;
  border: 0px;
}


.navbar-brand{
  color: $color-white;
  position: relative;
}
.navbar-brand:hover{
  color: $color-white;
}
.navbar-nav{
  li {
    font-weight: 500;
  }
}
.navbar-nav>li a{
  color: $color-white;
}

.navbar-nav>li a.active{
  color: $link-active;
}

.navbar-toggle{
  border:none;
  .icon-bar{
    background-color: $color-white;
  }
  .fa {
    color: $color-white;
    
  }
  &:focus, &:hover {
    background-color: transparent;
  }
}