@import '../../scss/color';
@import '../../scss/typography';
.each-col{
  padding: 0;
}
.each-course {
  border-radius: 5px;
  margin: 10px;
  box-shadow: $box-shadow;
  img, .course-alt-text{
    width: 100%;
    height: 130px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .course-desc{
    padding: 5px 10px;
    min-height: 120px;
  }
  .course-alt-text {
    background: $grad-color;
    height: 130px;
    padding: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color:  $color-white;
  }
  .course-name{
    text-align: center;
    padding: 5px 0px;
    background: $primary-color;
    color: $color-white;
    font-weight: 700;
  }
}
h3{
  border-bottom: 1px solid $border-color;
}