<div>
  <h3>Courses</h3>
  <ng-container *ngIf="isLoading">
    <lil-course-loader [count]="6"> </lil-course-loader>
  </ng-container>
  <div class="row" *ngIf="!isLoading">
    <div *ngFor="let course of courses" class="col-md-4 col-sm-6 each-col">
      <div class="each-course">
        <div class="img">
          <ng-container *ngIf="course.poster; then renderPoster else renderText"></ng-container>
          <ng-template #renderPoster>
            <img [src]="course.poster" />
          </ng-template>
          <ng-template #renderText>
            <div class="course-alt-text">{{course.name}}</div>
          </ng-template>
        </div>
        <div class="course-name">
          {{course.name}}
        </div>
        <div class="course-desc">
          {{course.description}}
        </div>
      </div>
    </div>
  </div>
</div>