@import '../../../scss/color';
@import '../../../scss/typography';
.contanct-container {
  box-shadow: $box-shadow;
  padding: 12px 30px;
  border-radius: 5px;
  background: $grad-color;
  height: 300px;
}

.contact-info {
  display: inline-block;
  background-color: #fff;
  height: 12px;
  border-radius: 100px;
  margin: 5px 0;
  min-width: 100px;
  opacity: .1;
  animation: fading 1.5s infinite;
}

.line {
  width: 100%;
}