/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap-reboot';
// @import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './scss/color';
@import './scss/typography';


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: $base-font-size;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
}

.container{
  min-height: 500px
  
}


@keyframes fading {
  0% {
    opacity: .1;
  }
  
  50% {
    opacity: .2;
  }
  
  100% {
    opacity: .1;
  }
}
